<%-include("./partials/header") %>

    <%if(movieData.Response==='False'){%>
    <h1>Movie not found</h1>
    <%}else{%>

        <div class="container" style = "background-color: rgb(181, 218, 205);">
            <div class="row">
                <%movieData['Search'].forEach(function(movie){%>
                    <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="<%=movie.Poster%>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%=movie.Title%></h5>
                          <p class="card-text"><%=movie.Year%></p>
                          <a href="/result/<%=movie.imdbID%>" class="btn btn-primary">Know more</a>
                        </div>
                      </div>
                    </div>
                <%})%>
            </div>
          </div>

    <%}%>

    <%-include("./partials/footer") %>